<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>

<h1> Edit Book Item </h1>

<form action="{{ url_for('editBookItem',bookstore_id = bookstore_id, book_id=item.id, bookstore = bookstore)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' placeholder = '{{item.name}}'></dd>
	<dt>price:</dt>
		<dd><textarea name = 'price' rows='5' cols='40' placeholder = '{{item.price }}'></textarea></dd>
	<dt>bookstore_id:</dt>
		<dd><input type = 'text' size = '8' name='bookstore_id' placeholder = '{{item.bookstore_id}}'></dd>
	




</dl>


<input type='submit' value='Edit'>

<a href = '{{url_for('bookList', bookstore_id = bookstore_id )}}'> Cancel </a>
</form>
</body>
</html>
