<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Book Item</h1>

<div class = 'pane'>
<form action="{{ url_for('newBookItem', bookstore_id=bookstore_id )}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' required></dd>

            <dt>Price:</dt>
                        <dd><input type = 'text' size = '8' name='price' required></dd>



</dl>


<input type='submit' value='Create'>

</form>
</div>

</body>




</html>
